* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.navbar1 {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.brand-title {
  margin: .5rem;
}
.brand-title h1 {
  font-size: 2rem;
  
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li a:hover {
  border-bottom: 1px solid white;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar1 {
      flex-direction: column;
  }
  

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }
  .navbar-links li a:hover {
    color: rgb(145, 140, 140);
    border-bottom: none;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}


#hd{
  background: url(../img/header.jpg) no-repeat center/cover;
  color: aliceblue;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 0px 0px;
}
#hd img{
 opacity: 0.8;
}
#hd p{
  background: rgba(65, 59, 59,0.2);
}
#career{
  background: url(../img/pexels-instawalli-176851.jpg) no-repeat center/cover;
 color: whitesmoke;

  
 
  padding: 60px 0;

}
#career h3{
  margin: 0px 0px 15px;
}
#career p{
  margin: 20px 0;
}
#career a{
  padding: 17px 49px;
}

#stats{
  background-image: url(../img/pexels-pixabay-414144.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 60px 0;
}
#stats .container .box{
  margin: 25px 0;
}
#stats .container .box1,
#stats .container .box2,
#stats .container .box3{
  border-right: 1px solid white;
}
#stats .container .box p b{
  font-size: 36px;
}
#stats .container .box .title{
  font-size: 19px;
}
#features{
  padding: 40px 0;
}
#features  marquee{
  height: 247px;
}
#features  marquee p{
   margin: 14px;
}
#features  marquee p a{
   color: red;
}
#courses{
  background: white;
  padding: 40px 0;
}
#courses .course{
  padding: 20px 15px;
}
@media (max-width: 768px) {
  #courses .course{
    margin: 25px;
  }
  #features .featuresItem{
    margin: 15px;
  }
  #hd #profileImg{
    margin-top: 25px;
  }
  #about #aboutLeft {
    margin-bottom: 40px;
  }
}
#courses .container p{
  font-size: 19px;
}
#courses .container p b{
  font-size: 32px;
}

/* About */
#about {
  margin-top: 100px;
  margin-bottom: 40px;
}
#about #aboutLeft a{
  font-size: large;
  font-weight: bold;
  color:#262626;
}
#about #aboutLeft a:hover{
  color: #5a5555;
}
#about #aboutRight a,
#contact a{
 margin: 5px;
}
#about #aboutRight a .fa-facebook-square,
#contact a .fa-facebook-square{
  color: #4267B2;   
}
#about #aboutRight a .fa-twitter-square,
#contact a .fa-twitter-square{
  color: #1DA1F2;   
}
#about #aboutRight a .fa-instagram-square,
#contact a .fa-instagram-square{
  color: #C13584;   
}
#about #aboutRight a .fa-youtube,
#contact a .fa-youtube{
  color: #FF0000;  
}

/* Contact */
#contact {
  margin-top: 100px;
  margin-bottom: 40px;
}